# Ramen data clean and exploration

In [1]:
import pandas as pd

In [2]:
df_ramen = pd.read_csv('ramen-ratings.csv')

In [3]:
df_ramen.head()

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
0,2580,New Touch,T's Restaurant Tantanmen,Cup,Japan,3.75,NaN
1,2579,Just Way,Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...,Pack,Taiwan,1,NaN
2,2578,Nissin,Cup Noodles Chicken Vegetable,Cup,USA,2.25,NaN
3,2577,Wei Lih,GGE Ramen Snack Tomato Flavor,Pack,Taiwan,2.75,NaN
4,2576,Ching's Secret,Singapore Curry,Pack,India,3.75,NaN

In [5]:
df_ramen.shape

(2580, 7)

Check how many are NULL in 'Top Ten' column

In [6]:
df_ramen.Country.isnull().sum()

0

In [8]:
df_ramen.Stars.isnull().sum()

0

In [11]:
df_ramen['Top Ten'].isnull().sum()

2539